:root {
    --clr-prime: #;
    --clr-font-prime: #333;
    --clr-font-code: #446256;
    --clr-font-links: #275b8a;
    --clr-font-fig-figcap: #585858;
    --clr-table-border: #467273;
    --clr-background: white;
    --clr-background-accent: rgba(70, 114, 115, 0.15);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 19px;
    font-family: sans-serif;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 57px 0;
    padding: 0 80px;
    padding: auto;
    line-height: 1.5;
    background-color: var(--clr-background);
    color: var(--clr-font-prime);
}
h1 {
    font-size: 2.5em;
    margin-top: 1.15em;
    margin-bottom: 0.6em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}
section header h1 {
    color: #585858;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 300;
}
h1,
code {
    color: var(--clr-font-code);
}
figure figcaption {
    margin-top: 0.75em;
    color: var(--clr-font-fig-figcap);
    font-weight: 300;
}
figure header h1 {
    margin-bottom: 0;
    font-size: 1em;
    color: var(--clr-font-fig-figcap);
    font-weight: 700;
}
code {
    font-family: Courier, "Courier New", monospace;
    font-size: 0.85em;
}
.code-heavy {
    font-weight: 900;
}
p {
    margin-bottom: 1.5em;
}
table {
    width: 100%;
    border-style: solid;
    border-width: 2px 1px 2px;
    border-color: var(--clr-table-border);
    border-radius: 0;
    font-size: 0.9em;
    line-height: 1.5em;
    border-collapse: collapse;
}
thead {
    padding: 0.75em;
    margin: 0;
    vertical-align: top;
    text-align: left;
    color: #2c6655;
    font-style: normal;
    font-weight: 600;
    border: 1px solid var(--clr-table-border);
}
tbody {
    display: table-row-group;
}
tr {
    display: table-row;
    vertical-align: baseline;
}
table td {
    border: 1px solid var(--clr-table-border);
    padding: 0.75em;
    margin: 0;
    vertical-align: top;
    text-align: left;
}
div {
    padding: 1.5em 0 1.5em 2em;
}
th,
div {
    background-color: var(--clr-background-accent);
}
a {
    color: var(--clr-font-links);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
