:root {
    --clr-prime: #;
    --clr-second: #;
    --clr-font-links: #275b8a;
    --clr-font-prime: black;
    --clr-font-code: #446256;
    --clr-font-figcap: darkgrey;
    --clr-background: white;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--clr-background);
    color: var(--clr-font-prime);
}
table {
    border-collapse: collapse;
}
a {
    color: var(--clr-font-links);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
