:root {
    --clr-prime: #;
    --clr-second: #;
    --clr-accent: #;
    --clr-font-prime: #;
    --clr-font-code: #446256;
    --clr-background: #;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
}
table {
    border-collapse: collapse;
}
