:root {
    --clr-prime: #;
    --clr-background-accent: rgba(70, 114, 115, 0.15);
    --clr-font-links: #275b8a;
    --clr-font-prime: black;
    --clr-font-code: #446256;
    --clr-font-figcap: darkgrey;
    --clr-background: white;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 75px;
    padding: auto;
    background-color: var(--clr-background);
    color: var(--clr-font-prime);
}
code,
h1 {
    color: var(--clr-font-code);
}
table {
    border-collapse: collapse;
}
a {
    color: var(--clr-font-links);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
th,
div {
    background-color: var(--clr-background-accent);
}
